<h1>Editing Political Party</h1>

<hr/>

<br/>

<%= render 'form' %>

<br/>

<hr/>


<%= link_to '< Back', region_political_parties_path(:geo_area_id => @political_party.region_id), :class => "btn btn-primary"  %>
&nbsp;
<%= link_to 'Show', region_political_party_path(:geo_area_id => @political_party.region_id), :class => "btn btn-info" %> 
