<p>
  <strong>Name:</strong>
  <%= @political_party.name %>
</p>

<p>
  <strong>Leaning index:</strong>
  <%= @political_party.leaning_index %>
</p>

<%= link_to 'Back', region_political_parties_path(:region_id => @political_party.region_id) %>
