<h1>Editing Geo Area</h1>

<%= render 'form' %>

<br/>
<hr/>
<%= link_to '< Back', geo_areas_path, :class => "btn btn-primary btn-md" %>
<%= link_to 'Show', @geo_area, :class => "btn btn-success btn-md" %> 

