<h1><span class="glyphicon glyphicon-pencil"></span> Editing Permission</h1>

<hr/>

<br/>

<%= render 'form' %>

<br/>

<hr/>

<%= link_to '< Back', permissions_path, :class => "btn btn-primary btn-md" %>
<%= link_to 'Show', @permission, :class => "btn btn-info btn-md"  %> 
