

<div style="display:none" id="region_code_temp">
</div>

<h1><span class="glyphicon glyphicon-edit"></span> Editing Data</h1>
<hr/>

<br/>

<%= render 'form' %>


<br/>

<hr/>

<%= link_to '< Back', url_for(:back), class: "btn btn-primary btn-md" %>
<%= link_to 'View', @datum, class: "btn btn-info btn-md" %> 

<br/><br/>

